# Flask Environment Configuration
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=change-this-to-a-secure-secret-key

# Admin User Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Web Push Notifications (VAPID)
VAPID_PRIVATE_KEY=Bqs_2WSHwatnonI4n7vPdU923HnJVBaNIhVrc7UN1KA
VAPID_PUBLIC_KEY=BG4-aMH3kYVKrbdR7Rte14R3ODxEbb5F7bOjydAncbE9jcc8iJM4F8XlQs6BAIEYr2HBBLApLNnwdREzrkd4PRw
VAPID_SUBJECT=mailto:admin@conference.local
