# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Environment Variables & Secrets
.env
.env.local

# SQLite Database
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
